ESP32_WIFI_SSID=your-wifi-ssid
ESP32_WIFI_PASSWORD=your-wifi-password
ESP32_WIFI_AP_SSID=esp-radio-apsta
ESP32_WIFI_AP_IP=192.168.2.1
ESP32_MQTT_BROKER_IP=192.168.1.10
ESP32_MQTT_PORT=1883
ESP32_MQTT_CLIENT_ID=esp32c6-client
